* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background: #f5f5f5;
    height: 100%;

    display: flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
    color: #222222;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline;
}

.bold {
    font-weight: bold;
}

.p-0 {
    padding: 0rem;
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 1rem;
}

.p-4 {
    padding: 1.5rem;
}

.p-5 {
    padding: 3rem;
}

.m-1 {
    margin: 0.25rem;
}

.m-2 {
    margin: 0.5rem;
}

.m-3 {
    margin: 1rem;
}

.m-4 {
    margin: 1.5rem;
}

.m-5 {
    margin: 3rem;
}

.bg-primary {
    background: #007BFF;
}

.bg-dark {
    background: #222222;
}

.bg-light {
    background: white;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.flex {
    flex: 1;
}

nav {
    display: flex;
    height: 4rem;
    width: 100%;
    align-items: center;
    text-align: center;
}

nav p, nav a {
    font-size: 1.75rem;
    display: inline;
}

nav h1 {
    font-size: 3rem;
    display: inline;
    white-space: nowrap;
}

nav h1 span {
    margin-left: 0.25rem;
    border-radius: 50rem;
    padding: 0 0.75rem 0 0.75rem;
}

nav div {
    display: flex;
}

nav #navbar #menu #toggle {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;

    cursor: pointer;
}

nav #navbar #menu a {
    border: 0.1rem solid #222222;
    border-radius: 5px;

    padding: 0rem 0.25rem 0rem;
    background: #383838;
}

nav #navbar #menu .dropdown-content {
    display: none;
    position: absolute;
    top: 4rem;
    right: 0;
    background: #222222;
    min-width: 2rem;
    /* box-shadow: 0px 8px 16px rgba(0,0,0,0.2); */
    z-index: 1;

    height: calc(100dvh - 6rem);
    max-height: calc(100dvh - 6rem);
    overflow-y: auto
}

#toggle:focus ~ nav #navbar #menu .dropdown-content {
    display: block;
}

/* nav #navbar #menu:hover .dropdown-content {
    display: block;
} */

nav #navbar #menu .dropdown-content a {
    display: block; 
    padding: 0 6rem 0;
}

nav #navbar #menu .dropdown-content a:hover {
    background: #454545;
}

nav #navbar #menu .dropdown-content .mobile-links {
    display: none;
}

@media screen and (max-width: 767px) {
    nav #navbar .links {
        display: none;
    }

    nav #navbar #menu .dropdown-content .mobile-links {
        display: block;
    }
}

nav #navbar .links a {
    border-radius: 2px;
    padding: 0.25rem 0.75rem 0.25rem;
    border: 0.25rem solid #222222;
}

nav #navbar .links a:hover {
    background: #383838;
}

#main {
    display: block;

    flex: 1;

    background: #f5f5f5;

    justify-content: center;

    overflow-y: auto;

    height: 100%
}

#main .content {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 14rem));
    /* grid-auto-rows: 15rem; */
    gap: 2rem;
    row-gap: 10rem;

    margin: 0 auto;
    padding: 2rem 10rem;

    place-items: center;
    justify-content: center;
}

#main .content .item {
    display: flex;
    flex-direction: column;

    height: 10rem;
    width: 10rem;

    /* font-size: 9rem; */

    border: 0.5rem solid #007BFF;
    border-radius: 10px;

    /* align-items: center; */
    justify-content: center;
    text-align: center;

    cursor: pointer;
}

/* #main .content .item:active {
    background: #1988ff;
} */

#main .content .item img {
    height: auto;
    object-fit: contain;
    width: 100%;
}

#main .content .item p {
    width: 100%;
}

#main #info-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    min-height: 10rem;
    padding: 1.25rem;
    background: #222222;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#main #info-content {
    width: 100%;
}

#main #info-box #play {
    padding-left: 3rem; 
    padding-right: 3rem; 
    font-size: 3rem;
}

#main #info-box #play:hover {
    background: #1988ff;
} 

#main #info-box .close-button {
    position: absolute;
    top: 0.25rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
}

#blog {
    flex: 1;
    background: #f5f5f5;

    place-items: center;
    overflow-y: auto;
}

#blog h1 {
    text-align: center;
    font-size: 6rem;
    text-decoration: underline;
}

#blog .item {
    width: 90%;
}

#blog ul h2 {
    margin-bottom: 2rem;
}

#blog ul h2 span {
    font-size: 1rem;
}


#blog ul li {
    padding: 0.5rem;
    margin-left: 0.5rem;
}

#blog ul ul {
    padding-left: 1rem;
}

footer {
    height: 2rem;
    width: 100%;
    font-size: 14px;
}

footer p {
    text-align: center;
}
