* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background: #f5f5f5;
    height: 100%;

    display: flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
    color: #222222;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline;
}

.bold {
    font-weight: bold;
}

.p-0 {
    padding: 0rem;
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 1rem;
}

.p-4 {
    padding: 1.5rem;
}

.p-5 {
    padding: 3rem;
}

.m-1 {
    margin: 0.25rem;
}

.m-2 {
    margin: 0.5rem;
}

.m-3 {
    margin: 1rem;
}

.m-4 {
    margin: 1.5rem;
}

.m-5 {
    margin: 3rem;
}

.bg-primary {
    background: #007BFF;
}

.bg-dark {
    background: #222222;
}

.bg-light {
    background: white;
}

.text-white {
    color: white;
}

.flex {
    flex: 1;
}

nav {
    display: flex;
    height: 4rem;
    width: 100%;
    align-items: center;
    text-align: center;
}

nav p, nav a {
    font-size: 28px;
    display: inline;
}

nav h1 {
    font-size: 48px;
    display: inline;
    white-space: nowrap;
}

nav h1 span {
    margin-left: 0.25rem;
    border-radius: 50rem;
    padding: 0 0.75rem 0 0.75rem;
}

nav div {
    display: flex;
}

nav #navbar a {
    border-radius: 2px;
    padding: 0.25rem 0.75rem 0.25rem;
    border: 0.25rem solid #222222;
}

nav #navbar a:hover {
    background: #383838;
}

nav #navbar #menu a {
    border-radius: 2px;
    padding: 0rem 0.25rem 0rem;
}

nav #navbar #menu .dropdown-content {
    display: none;
    position: absolute;
    top: 4rem;
    right: 0;
    background: #222222;
    min-width: 2rem;
    /* box-shadow: 0px 8px 16px rgba(0,0,0,0.2); */
    z-index: 1;
}

nav #navbar #menu .dropdown-content a {
    display: block; 
    padding: 0 6rem 0;
}

nav #navbar #menu:hover .dropdown-content {
    display: block;
}

.main {
    flex: 1;
    width: 100%;
    background: #f5f5f5;

    place-items: center;
    /* justify-content: center; */
    overflow-y: auto;
}

.main .content {
    display: grid;
    grid-template-columns: repeat(5, 10rem);
    grid-auto-rows: 10rem;
    row-gap: 5rem;
    gap: 10rem;
    
    margin: 3rem;
    padding: 0 10rem 0;
}

.main .content .item {
    display: grid;
    place-items: center;

    height: 10rem;
    width: 10rem;

    font-size: 96px;

    border: 8px solid #007BFF;
    border-radius: 10px;
}

.main .content .item:active {
    background: #1988ff;
}

.border {
    border: 2px solid red;
}

footer {
    height: 2rem;
    width: 100%;
    font-size: 14px;
    
}

footer p {
    text-align: center;
}